.not-found {
  text-align: center;
  padding: 80px 20px;
  color: #333;
  background: linear-gradient(to right, #f8f8f8, #ffffff);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__code {
    font-size: 7rem;
    font-weight: 800;
    color: #0042251a;
    position: relative;
    z-index: 1;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: -3rem;
    z-index: 2;
    position: relative;
    color: #004225;
  }

  &__message {
    font-size: 1.2rem;
    margin: 1rem 0 2rem;
    color: #555;
    max-width: 500px;
  }

  .home-btn {
    display: inline-block;
    padding: 12px 28px;
    background-color: #004225;
    color: #fff;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    box-shadow: 0 4px 12px rgba(0, 66, 37, 0.2);
    transition: all 0.3s ease;

    &:hover {
      background-color: #006837;
      transform: translateY(-2px);
    }
  }
}
